@{
   // ViewBag.Title = "Report Viewer";
}

<title>dsdsdsd</title>
<asp:ScriptManager ID="ScriptManager1" runat="server">
</asp:ScriptManager>

<rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%" Height="800px" ProcessingMode="Local">
    <LocalReport ReportPath="~/Reports/ReportWorkGroup.rdlc">
    </LocalReport>
</rsweb:ReportViewer>
